@media screen and (max-width: 478px){


    *{
        margin: 0;
        padding: 0;
    }

.container{
        width: 100%;

}

nav{
    display: none;
}


.bhai{
    flex-direction: column-reverse;
}

.flex{
    display:flex;
}

.right-col{
    width: 100%;
   
}
.hero-img{
    width: 18rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;   
}


.left-col .left{
width: 100%;
flex: none;

}

.left-col p{
    font-size: 1rem;
    width: 100%;
    text-align: left;
    
}


h1{
    width: 100%;
    font-size:1.3rem;
    line-height: 1.9rem;
    letter-spacing: normal;
    color: #212121;
    font-weight: 500;
    flex-wrap: wrap;  
}


.cta-btns{
    
    margin-top: 2rem;
    gap: 1rem;
}


.color1{
    
    background-color: aquamarine;
    padding-inline: 4.5rem;
    border-radius: 3px;
    outline-style:solid;
    outline-color: #2e6edf;
    outline-width: 1px;
    font-size: 13px;
    background-color: #fff;
    white-space: nowrap;
}


.kya{
    padding-inline: 5.3rem;
    white-space: nowrap;
}


.color2{
    display: none;
}


.left-col small{
    font-weight: 500;
    text-align:end;
}


.wow a{
    font-weight: 600;
    color: #2e6edf;
}

.companies{
    width: 100%;
    background-color: #f8f8f8;
    height: 45%;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    padding-block: 3rem;
    overflow-x: hidden;
}

.img-comp{
    justify-content:center;
    gap: 10%;
    position: relative;
    right: .7rem;
    bottom: 0.1rem;
    width: 100%;
}


.about-comp{
    font-weight: 500;
 justify-content: center;
 font-size: 1.5rem;
}


.feature-1{
    flex-direction: column;
}


.feature-left{
    width:100%;
}


.features{
   height: 100%;
   justify-content: center;
   gap: 10%;
   padding-block: 4rem;
  
}


.features p{
    font-weight: 300;
    flex-wrap: wrap;

}
.fe{
    position: relative;
    top: 1.7rem;


}

.feature-2{
    flex-direction:column;
    background-color:#f8f8f8 ;
}


.mini-features h1{
    font-size: 1.15rem;
    text-align: center;

}

.feature-right{
    width: 100%;
}

.feature-right h2{
    font-weight: 500;
}

.feature-right .ckm{
    font-weight: 600;
    color: rgb(141, 140, 140);
    font-size: 1rem;
}


.features img{
    width: 90%;
}

.feature-3{
    flex-direction: column;
}


.color2{
    
    padding-inline: 1.3rem;
    border-radius: 3px;
    padding-block: 0.5rem;
    outline-style:solid;
    outline-color: white;
    outline-width: 1px;
    font-size: 16px;
    background-color:#2e6edf;
}

.man{
    flex-direction: column;
}



.card1{
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    width:90%;
    padding-block: 6%;
    padding-inline: 2%;
    border-radius: 5%;
    max-height: 80%;
    align-items: center;
}


.card2{
    box-shadow: 0 6px 10px rgba(200, 27, 27, 0.08);
    width:90%;
    padding-block: 5.5%;
    padding-inline: 2%;
    border-radius: 5%;

}

.card3{
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    width:90%;
    padding-block: 2.9%;
    padding-inline: 2%;
    border-radius: 5%;
    flex-wrap: wrap;
    max-height: 80%;
}


.allbox{
    gap: 2rem;
    flex-direction: column;
    padding-top: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
}


.cont{
    max-width: 100%;
}


.xoxo{
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    align-items: flex-start;
 
}



.why-choose h2{
    text-align:left;
    font-weight: 500;
    margin-top: 3rem;
    font-size: 1.6em;
}


.why-choose ul li{
    list-style: none;
    text-align: start;
}



.why-choose ul{
    align-items: flex-start;
}

.why-choose .xoxo h2{
    margin: 0;
}

.speed{
    position: relative;
    bottom: 1rem;
    font-size: 0.87em;
    font-weight: 500;
    color: black;
    left: 0.2rem;
}


.days4{
    color: #32a932;
    font-size: 1.5em;
}

.same-day{
    color: #32a932;
}

.xoxo h5{
    font-size: 1.1em;
    font-weight: 500;
}


.xoxo-1{
    position: relative;
    right: 0rem;
}


.xoxo-2{
    position: relative;
    right: 0rem;
}
.xoxo-3{
    position: relative;
    right: 0rem;
}



.left-col-occean{
    flex-direction: column;
}



.blue-occean{
    padding-top: 5rem;
    padding-bottom: 0;
    background:linear-gradient(90deg,#4e61c2,#3e85e2);
    overflow-x: hidden;
}


.left-col-occean{
    width: 100%;
    z-index: 1;
}



.left-col-occean-points{
    flex-direction: column;
    color: white;
}

.left-col-occean-points li{
    list-style: none;
    flex-wrap: wrap;
}

.numbers .flex.om{
    gap: 3rem;
    font-size:40px;
    font-weight: 500;
    margin-top: 3rem;
    position:relative;
    right: 0rem;
}


.numbers .flex .chi{
    position: relative;
    bottom: 4rem;
}

ul .para{

    font-size: 33px;

}

sub{
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 2.9rem;
}


.wing1{
    padding-inline:6rem;
    font-size: 1rem;
    white-space: nowrap;
    position: relative;
    bottom: 4.5rem;
    
}



.right-col-occean{
    width: 100%;
}



.right-col-occean img{
    position: relative;
    right: 25rem;
    width: 30rem;
    bottom: 20.5rem;
}


.won{
    background-color: transparent;
}


.lg{
    flex-direction: column;
}

.card2 ul{
    flex-direction: column;
    gap: 1rem;
    position: relative;
    bottom: 1.3rem;
}

.card2 ul li.damn{
    font-size: .9rem;
}

.card2 p.cent{
    justify-content: center;
    background-color: #2e6edf;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    font-size: .9rem;
    white-space: nowrap;
    margin-bottom: 3rem;

}



.final-fet{
    flex-direction: column;
}

.final-fet{
    padding-block: 3rem;
    margin-bottom: 3rem;
}

.final-fet-left-col{
    width: 100%;
}

.final-fet-right-col{
    width: 100%;
}


.final-fet-left-col img{
    width: 80%;
}

.final-fet-right-col .idea{
    flex-direction: column;
    justify-content: center;
    
}


.idea li h1{
font-size: 1.3rem;
margin-top: 2rem;
}
.idea ul{
    list-style: none;
}

.final-fet-right-col ul{
    list-style: none;
    flex-wrap: wrap;
}
.idea-points {
    position: relative;
    right:.5rem;
    
}


.hehe{
    position: relative;
    left: .3rem;
    white-space: nowrap;
    padding-inline: 5rem;
    flex-wrap: wrap;
    display: block;
    
}

.wewe .hi{
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

.wewe .hello{
    font-size: 1rem;
    text-align: center;
}


.ok{
    display: block;
    white-space: nowrap;
    font-size: .8rem;
    background-color: #2e6edf;
    outline-style: none;
}

footer .left-col{
    flex-direction: row;
    
}


footer .left-col .beach{
    position: relative;
    right: 7rem !important;
    margin-bottom: 2rem;
}



.mid{
    position: relative;
   top: 14rem;
}




footer .left-col{
    height: 0;
    gap: 0;
    flex-wrap: wrap;
}

footer .right-col{
    width: 0%;
    flex-wrap: wrap;
    position: relative;
    bottom:25rem;
}


.trademark h4{
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    flex-wrap: wrap;
}

.trademark small{
    color: white;
    font-size: .7rem;
    font-weight: 200;
    flex-wrap: wrap;
}


footer .left-col{
    gap: 20rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

footer .left-col .logo{
    position: relative;
    right: 3.8rem;
    flex-wrap: wrap;
}


.footer-headings{
    gap: 3.2rem;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    flex-wrap: wrap;
    
}

.footer-headings-sub{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.2rem;
    flex-wrap: wrap;
}

.footer-headings-sub li a{
    color: #c0bcbc;
    font-size: .8rem;
    font-weight: 400;
    flex-wrap: wrap;
}

footer .right-col{
    flex-direction: column;
    gap: 9rem;
    flex-wrap: wrap;
}

.policy{
    gap: 2rem;
    position: relative;
    left: 5.4rem;
    flex-wrap: wrap;
}

.policy a{
    color: #f6f6f6;
    font-size: .65rem;
    font-weight: 300;
    flex-wrap: wrap;
}


footer .right-col{
    flex-wrap: wrap;
}

footer{
    overflow-x: hidden;
    justify-content: center;
}

footer .left-col{
    padding-right: 0;
    padding-left: 0;
    margin:0 ;
    height: 100%;
    width: 100%;
}

.social-media-icons{
    gap: .4rem;

}

.social-media-icons img{
    width: 10%;
    cursor: pointer;
}

.trademark{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.7rem;
    gap: 0.1rem;
}



footer .left-col .logo{
    width: 8rem;
}


footer a:hover{
    color: #ffffff;
}


.footer-headings-sub{
    padding-top: 1rem;
    height: 230px;
}


.cont{
    max-width: 50%;
    height:100%;
    flex-wrap: wrap;
    
}


}