*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 85%;
}

.flex{
    display: flex;
    align-items: center;
}

nav  a{
    
    text-decoration: none;
    color: rgb(64, 63, 63);
    font-weight:300;
    
    
}

nav a:hover{
    color:#1E429F;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}





.logo-container{
    width:10%;
}


.navbar{
    width: 100%;
    align-items: center;
    margin-top: 1.2rem;
    gap: 10%;
    
}


.nav-points{
    justify-content: flex-end;
}

.white-box{
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.16);
    box-sizing: border-box;
    overflow: hidden;
    height: 10vh;
    position: fixed;
    background-color:white;
    z-index: 1;
    

    
  
}



.right-col{
    width: 40%;
}

.hero-img{
    width: 100%;
   right: 1px;
    top: 1rem;
    flex: 1;
}



h1{
    font-size:2.2rem;
    text-align: start;
    line-height: 4rem;
    letter-spacing: normal;
    color: #212121;
    font-weight: 500;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-height: 20%;
    flex-shrink: 1;
   
}

p{
    font-size: 18px;
    text-align: start;
    line-height: 27px;
    letter-spacing: normal;
    color: #212121;
    padding-top: 1.3rem;
    min-width: 90%;
    top:7.5rem;
}



.cta-btns{
    
    margin-top: 2rem;
  gap: 6%;
  min-width: 40%;
    top: 16.5rem;
   
    
}



  

.color1{
    
    background-color: aquamarine;
    padding-inline: 1.3rem;
   border-radius: 3px;
    padding-block: 0.5rem;
    outline-style:solid;
    outline-color: #2e6edf;
    outline-width: 1px;
    font-size: 16px;
    background-color: #fff;
}

.cta-btns .color{
    text-decoration: none;
    color: #2e6edf;
    
        
}





.color2{
    
    padding-inline: 1.3rem;
   border-radius: 3px;
    padding-block: 0.5rem;
    outline-style:solid;
    outline-color: white;
    outline-width: 1px;
    font-size: 16px;
    background-color:#2e6edf;
}

.diff{
    text-decoration: none;
    color: white;
    
}


.color1:hover{
    background-color: #f6f6f6;
    transition: 0.2s ease-in-out;
}

.color2:hover{
    background-color: #1d3a9a;
    transition: 0.3s ease-in-out;
}


.wow a{
    text-decoration: none;
}


.companies{
    width: 100%;
    background-color: #f8f8f8;
    height: 45%;
    box-sizing: border-box;
    flex-direction: column;
    margin-block: 3rem;
    position: relative;
    padding-block: 3rem;
   
    flex-wrap: wrap;
}

.arjun{
    flex-direction: column;
    gap: 2rem;
   
    flex-wrap: wrap;
}

.img-comp{
    justify-content:center;
    gap: 9%;
    flex-wrap: wrap;
    position: relative;
    bottom: 0.1rem;
    width: 80%;
    
}

.join-comp{
    justify-content: center;

}

.about-comp{
    font-weight: 500;
 justify-content: center;
 font-size: 2rem;
}




.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    position: relative;

}


.bhai{
    padding-top:7.5rem;
    max-width: 100%;
}


.left-col{
    box-sizing: border-box;
    max-width: 60%;
    flex: 1;
}

.left-col p{
    width: 55%;
}

.wow a{
    font-weight: 600;
    color: #2e6edf;
}

.wow a:hover{
    color:rgb(4, 126, 4);
    transition: 0.1s ease-in-out;
}